coresfactory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "coresfactory"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureSqlDatabase1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase1'"
		},
		"DS_BLOB_HISTORY_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@dataset().DestinationFileName"
		},
		"DS_BLOB_HISTORY_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "history"
		},
		"DS_BLOB_INPUT_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@dataset().filename"
		},
		"DS_BLOB_INPUT_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "input"
		},
		"TR_EstCapacidades_properties_PL_EstCapacidades_parameters_nombreFichero": {
			"type": "string",
			"defaultValue": "@triggerBody().fileName"
		},
		"TR_EstCapacidades_properties_PL_EstCapacidades_parameters_nombreDirectorio": {
			"type": "string",
			"defaultValue": "@triggerBody().folderPath"
		},
		"TR_EstCapacidades_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/5a872d64-36b9-4adf-b9c4-e6ba85cf4457/resourceGroups/CORES_Training/providers/Microsoft.Storage/storageAccounts/coresca"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_EstCapacidades')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DF_STG_EstCapacidades",
						"description": "Carga Incremental de Capacidades de Establecimiento",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_STG_EstCapacidades",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"CSVEstCapacidades": {},
									"STGEstCapacidades": {}
								}
							},
							"staging": {}
						}
					}
				],
				"parameters": {
					"nombreFichero": {
						"type": "string"
					},
					"nombreDirectorio": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_STG_EstCapacidades')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Establecimientos')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CP_CopiaHistorico",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": false
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "DS_BLOB_INPUT",
								"type": "DatasetReference",
								"parameters": {
									"filename": {
										"value": "@pipeline().parameters.nombreFichero",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_BLOB_HISTORY",
								"type": "DatasetReference",
								"parameters": {
									"DestinationFileName": {
										"value": "@pipeline().parameters.nombreFichero",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "DF_STG_Establecimientos",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "CP_CopiaHistorico",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_STG_Establecimientos",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"CSVEstablecimientos": {},
									"STGEstablecimientos": {}
								}
							},
							"staging": {}
						}
					},
					{
						"name": "DF_FT_Establecimientos",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DF_STG_Establecimientos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_FT_Establecimientos",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"STGEstablecimientos": {},
									"FTEstablecimientos": {}
								}
							},
							"staging": {}
						}
					}
				],
				"parameters": {
					"nombreFichero": {
						"type": "string"
					},
					"nombreDirectorio": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_INPUT')]",
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_HISTORY')]",
				"[concat(variables('factoryId'), '/dataflows/DF_STG_Establecimientos')]",
				"[concat(variables('factoryId'), '/dataflows/DF_FT_Establecimientos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ASQL_FT_Consumos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Consumo_FechaReferencia",
						"type": "date"
					},
					{
						"name": "Consumo_Provincia_Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Consumo_Provincia_Nombre",
						"type": "nvarchar"
					},
					{
						"name": "Consumo_GrupoProducto_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Consumo_GrupoProducto_Nombre",
						"type": "nvarchar"
					},
					{
						"name": "Consumo_Cantidad",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Consumo_FechaCarga",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Consumo_FicheroCarga",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[FT_EstConsumos]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ASQL_FT_Establecimientos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Establecimiento_Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Establecimiento_Nombre",
						"type": "nvarchar"
					},
					{
						"name": "Establecimiento_Propietario_Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Establecimiento_PropietarioCodigo",
						"type": "nvarchar"
					},
					{
						"name": "Establecimiento_Propietario_Nombre",
						"type": "nvarchar"
					},
					{
						"name": "Establecimiento_Agrupacion_Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Establecimiento_Agrupacion_Nombre",
						"type": "nvarchar"
					},
					{
						"name": "Establecimiento_TipoID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Establecimiento_TipoNombre",
						"type": "nvarchar"
					},
					{
						"name": "Establecimiento_Direccion",
						"type": "nvarchar"
					},
					{
						"name": "Establecimiento_Poblacion",
						"type": "nvarchar"
					},
					{
						"name": "Establecmiento_Provincia_Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Establecimiento_Provincia_Nombre",
						"type": "nvarchar"
					},
					{
						"name": "Establecimiento_ComunidadAutonoma_Nombre",
						"type": "nvarchar"
					},
					{
						"name": "Establecimiento_ZonaGeografica_Nombre",
						"type": "nvarchar"
					},
					{
						"name": "Establecimiento_CP",
						"type": "nvarchar"
					},
					{
						"name": "Establecimiento_Longitud",
						"type": "decimal",
						"precision": 38,
						"scale": 12
					},
					{
						"name": "Establecimiento_Latitud",
						"type": "decimal",
						"precision": 38,
						"scale": 12
					},
					{
						"name": "Establecimiento_ConectadoSistemaLogistico",
						"type": "nvarchar"
					},
					{
						"name": "Establecimiento_FechaAlta",
						"type": "date"
					},
					{
						"name": "Establecimiento_FechaBaja",
						"type": "date"
					},
					{
						"name": "Establecimiento_FechaActualizacion",
						"type": "date"
					},
					{
						"name": "Establecimiento_FechaCarga",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Establecimiento_UsuarioCarga",
						"type": "varchar"
					},
					{
						"name": "Establecimiento_FicheroCarga",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[FT_Establecimientos]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ASQL_STG_Consumos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Consumo_FechaReferencia",
						"type": "date"
					},
					{
						"name": "Consumo_Provincia_Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Consumo_Provincia_Nombre",
						"type": "nvarchar"
					},
					{
						"name": "Consumo_GrupoProducto_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Consumo_GrupoProducto_Nombre",
						"type": "nvarchar"
					},
					{
						"name": "Consumo_Cantidad",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Consumo_FechaCarga",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Consumo_FicheroCarga",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[STG_EstConsumos]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ASQL_STG_EstCapacidades')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Capacidad_Establecimiento_Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Capacidad_Establecimiento_Nombre",
						"type": "nvarchar"
					},
					{
						"name": "Capacidad_GrupoProducto_Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Capacidad_GrupoProducto_Nombre",
						"type": "nvarchar"
					},
					{
						"name": "Capacidad",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FechaInicio",
						"type": "date"
					},
					{
						"name": "FechaFin",
						"type": "date"
					},
					{
						"name": "FechaCarga",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "FicheroCarga",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[STG_EstCapacidades]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ASQL_STG_Establecimientos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Establecimiento_Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Establecimiento_Nombre",
						"type": "nvarchar"
					},
					{
						"name": "Establecimiento_Propietario_Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Establecimiento_PropietarioCodigo",
						"type": "nvarchar"
					},
					{
						"name": "Establecimiento_Propietario_Nombre",
						"type": "nvarchar"
					},
					{
						"name": "Establecimiento_Agrupacion_Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Establecimiento_Agrupacion_Nombre",
						"type": "nvarchar"
					},
					{
						"name": "Establecimiento_TipoID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Establecimiento_TipoNombre",
						"type": "nvarchar"
					},
					{
						"name": "Establecimiento_Direccion",
						"type": "nvarchar"
					},
					{
						"name": "Establecimiento_Poblacion",
						"type": "nvarchar"
					},
					{
						"name": "Establecmiento_Provincia_Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Establecimiento_Provincia_Nombre",
						"type": "nvarchar"
					},
					{
						"name": "Establecimiento_ComunidadAutonoma_Nombre",
						"type": "nvarchar"
					},
					{
						"name": "Establecimiento_ZonaGeografica_Nombre",
						"type": "nvarchar"
					},
					{
						"name": "Establecimiento_CP",
						"type": "nvarchar"
					},
					{
						"name": "Establecimiento_Longitud",
						"type": "decimal",
						"precision": 38,
						"scale": 12
					},
					{
						"name": "Establecimiento_Latitud",
						"type": "decimal",
						"precision": 38,
						"scale": 12
					},
					{
						"name": "Establecimiento_ConectadoSistemaLogistico",
						"type": "nvarchar"
					},
					{
						"name": "Establecimiento_FechaAlta",
						"type": "date"
					},
					{
						"name": "Establecimiento_FechaBaja",
						"type": "date"
					},
					{
						"name": "Establecimiento_FechaActualizacion",
						"type": "date"
					},
					{
						"name": "Establecimiento_FechaCarga",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Establecimiento_UsuarioCarga",
						"type": "varchar"
					},
					{
						"name": "Establecimiento_FicheroCarga",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[STG_Establecimientos]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_BLOB_HISTORY')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"DestinationFileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"fileName": {
						"value": "[parameters('DS_BLOB_HISTORY_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": "[parameters('DS_BLOB_HISTORY_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_BLOB_INPUT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"fileName": {
						"value": "[parameters('DS_BLOB_INPUT_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": "[parameters('DS_BLOB_INPUT_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSV_CAP')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "CAP_20190611_130825.csv",
						"container": "input"
					},
					"columnDelimiter": "\t",
					"encodingName": "UTF-16",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "﻿EstablecimientoId",
						"type": "String"
					},
					{
						"name": "EstablecimientoNombre",
						"type": "String"
					},
					{
						"name": "GrupoProductoId",
						"type": "String"
					},
					{
						"name": "GrupoProductoNombre",
						"type": "String"
					},
					{
						"name": "Capacidad",
						"type": "String"
					},
					{
						"name": "FechaInicio",
						"type": "String"
					},
					{
						"name": "FechaFin",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSV_CAU')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "input"
					},
					"columnDelimiter": "\t",
					"encodingName": "UTF-16",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "EstablecimientoId",
						"type": "String"
					},
					{
						"name": "EstablecimientoNombre",
						"type": "String"
					},
					{
						"name": "GrupoProductoId",
						"type": "String"
					},
					{
						"name": "GrupoProductoNombre",
						"type": "String"
					},
					{
						"name": "ViaId",
						"type": "String"
					},
					{
						"name": "ViaNombre",
						"type": "String"
					},
					{
						"name": "CanalSalidaMax",
						"type": "String"
					},
					{
						"name": "CanalSalidaMed",
						"type": "String"
					},
					{
						"name": "CanalEntradaMax",
						"type": "String"
					},
					{
						"name": "CanalEntradaMed",
						"type": "String"
					},
					{
						"name": "FechaInicio",
						"type": "String"
					},
					{
						"name": "FechaFin",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSV_EST')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "EST_20190531_134410.csv",
						"container": "input"
					},
					"columnDelimiter": ";",
					"encodingName": "UTF-16",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "EstablecimientoId",
						"type": "String"
					},
					{
						"name": "EstablecimientoNombre",
						"type": "String"
					},
					{
						"name": "PropiedatioId",
						"type": "String"
					},
					{
						"name": "PropietarioCodigo",
						"type": "String"
					},
					{
						"name": "PropietarioNombre",
						"type": "String"
					},
					{
						"name": "AgrupacionId",
						"type": "String"
					},
					{
						"name": "AgrupacionNombre",
						"type": "String"
					},
					{
						"name": "TipoId",
						"type": "String"
					},
					{
						"name": "TipoNombre",
						"type": "String"
					},
					{
						"name": "Direccion",
						"type": "String"
					},
					{
						"name": "Poblacion",
						"type": "String"
					},
					{
						"name": "ProvinciaId",
						"type": "String"
					},
					{
						"name": "ProvinciaNombre",
						"type": "String"
					},
					{
						"name": "ComunidadAutonomaNombre",
						"type": "String"
					},
					{
						"name": "ZonaGeograficaNombre",
						"type": "String"
					},
					{
						"name": "CP",
						"type": "String"
					},
					{
						"name": "Logitud",
						"type": "String"
					},
					{
						"name": "Latitud",
						"type": "String"
					},
					{
						"name": "ConectadoSL",
						"type": "String"
					},
					{
						"name": "FechaAlta",
						"type": "String"
					},
					{
						"name": "FechaBaja",
						"type": "String"
					},
					{
						"name": "FechaActualizacion",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLiveInMinutes": 60
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_FT_Establecimientos')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_ASQL_STG_Establecimientos",
								"type": "DatasetReference"
							},
							"name": "STGEstablecimientos",
							"typeProperties": {},
							"script": "source(output(\n\t\tEstablecimiento_Id as integer,\n\t\tEstablecimiento_Nombre as string,\n\t\tEstablecimiento_Propietario_Id as integer,\n\t\tEstablecimiento_PropietarioCodigo as string,\n\t\tEstablecimiento_Propietario_Nombre as string,\n\t\tEstablecimiento_Agrupacion_Id as integer,\n\t\tEstablecimiento_Agrupacion_Nombre as string,\n\t\tEstablecimiento_TipoID as integer,\n\t\tEstablecimiento_TipoNombre as string,\n\t\tEstablecimiento_Direccion as string,\n\t\tEstablecimiento_Poblacion as string,\n\t\tEstablecmiento_Provincia_Id as integer,\n\t\tEstablecimiento_Provincia_Nombre as string,\n\t\tEstablecimiento_ComunidadAutonoma_Nombre as string,\n\t\tEstablecimiento_ZonaGeografica_Nombre as string,\n\t\tEstablecimiento_CP as string,\n\t\tEstablecimiento_Longitud as decimal(38,12),\n\t\tEstablecimiento_Latitud as decimal(38,12),\n\t\tEstablecimiento_ConectadoSistemaLogistico as string,\n\t\tEstablecimiento_FechaAlta as date,\n\t\tEstablecimiento_FechaBaja as date,\n\t\tEstablecimiento_FechaActualizacion as date,\n\t\tEstablecimiento_FechaCarga as timestamp,\n\t\tEstablecimiento_UsuarioCarga as string,\n\t\tEstablecimiento_FicheroCarga as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: true,\n\tformat: 'table') ~> STGEstablecimientos"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_ASQL_FT_Establecimientos",
								"type": "DatasetReference"
							},
							"name": "FTEstablecimientos",
							"script": "STGEstablecimientos sink(input(\n\t\tEstablecimiento_Id as integer,\n\t\tEstablecimiento_Nombre as string,\n\t\tEstablecimiento_Propietario_Id as integer,\n\t\tEstablecimiento_PropietarioCodigo as string,\n\t\tEstablecimiento_Propietario_Nombre as string,\n\t\tEstablecimiento_Agrupacion_Id as integer,\n\t\tEstablecimiento_Agrupacion_Nombre as string,\n\t\tEstablecimiento_TipoID as integer,\n\t\tEstablecimiento_TipoNombre as string,\n\t\tEstablecimiento_Direccion as string,\n\t\tEstablecimiento_Poblacion as string,\n\t\tEstablecmiento_Provincia_Id as integer,\n\t\tEstablecimiento_Provincia_Nombre as string,\n\t\tEstablecimiento_ComunidadAutonoma_Nombre as string,\n\t\tEstablecimiento_ZonaGeografica_Nombre as string,\n\t\tEstablecimiento_CP as string,\n\t\tEstablecimiento_Longitud as decimal(38,12),\n\t\tEstablecimiento_Latitud as decimal(38,12),\n\t\tEstablecimiento_ConectadoSistemaLogistico as string,\n\t\tEstablecimiento_FechaAlta as date,\n\t\tEstablecimiento_FechaBaja as date,\n\t\tEstablecimiento_FechaActualizacion as date,\n\t\tEstablecimiento_FechaCarga as timestamp,\n\t\tEstablecimiento_UsuarioCarga as string,\n\t\tEstablecimiento_FicheroCarga as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: true,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\ttruncate:true) ~> FTEstablecimientos"
						}
					],
					"transformations": []
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ASQL_STG_Establecimientos')]",
				"[concat(variables('factoryId'), '/datasets/DS_ASQL_FT_Establecimientos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_STG_EstCapacidades')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_CSV_CAP",
								"type": "DatasetReference"
							},
							"name": "CSVEstCapacidades",
							"typeProperties": {},
							"script": "source(output(\n\t\tEstablecimientoId as integer,\n\t\tEstablecimientoNombre as string,\n\t\tGrupoProductoId as integer,\n\t\tGrupoProductoNombre as string,\n\t\tCapacidad as integer,\n\t\tFechaInicio as date 'yyyyMMdd',\n\t\tFechaFin as date 'yyyyMMdd'\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tmoveFiles: ['./input/','../historico/'],\n\trowUrlColumn: 'FicheroCarga',\n\twildcardPaths:['CAP_*']) ~> CSVEstCapacidades"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_ASQL_STG_EstCapacidades",
								"type": "DatasetReference"
							},
							"name": "STGEstCapacidades",
							"script": "FechaCarga sink(input(\n\t\tCapacidad_Establecimiento_Id as integer,\n\t\tCapacidad_Establecimiento_Nombre as string,\n\t\tCapacidad_GrupoProducto_Id as integer,\n\t\tCapacidad_GrupoProducto_Nombre as string,\n\t\tCapacidad as integer,\n\t\tFechaInicio as date,\n\t\tFechaFin as date,\n\t\tFechaCarga as timestamp,\n\t\tFicheroCarga as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: true,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tmapColumn(\n\t\tCapacidad_Establecimiento_Id = EstablecimientoId,\n\t\tCapacidad_Establecimiento_Nombre = EstablecimientoNombre,\n\t\tCapacidad_GrupoProducto_Id = GrupoProductoId,\n\t\tCapacidad_GrupoProducto_Nombre = GrupoProductoNombre,\n\t\tCapacidad,\n\t\tFechaInicio,\n\t\tFechaFin,\n\t\tFechaCarga,\n\t\tFicheroCarga\n\t)) ~> STGEstCapacidades"
						}
					],
					"transformations": [
						{
							"name": "FechaCarga",
							"script": "CSVEstCapacidades derive(FechaCarga = currentUTC()) ~> FechaCarga"
						}
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_CSV_CAP')]",
				"[concat(variables('factoryId'), '/datasets/DS_ASQL_STG_EstCapacidades')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_STG_Establecimientos')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_CSV_EST",
								"type": "DatasetReference"
							},
							"name": "CSVEstablecimientos",
							"typeProperties": {},
							"script": "source(output(\n\t\tEstablecimientoId as integer,\n\t\tEstablecimientoNombre as string,\n\t\tPropiedatioId as integer,\n\t\tPropietarioCodigo as string,\n\t\tPropietarioNombre as string,\n\t\tAgrupacionId as integer,\n\t\tAgrupacionNombre as string,\n\t\tTipoId as integer,\n\t\tTipoNombre as string,\n\t\tDireccion as string,\n\t\tPoblacion as string,\n\t\tProvinciaId as integer,\n\t\tProvinciaNombre as string,\n\t\tComunidadAutonomaNombre as string,\n\t\tZonaGeograficaNombre as string,\n\t\tCP as string,\n\t\tLogitud as float,\n\t\tLatitud as float,\n\t\tConectadoSL as string,\n\t\tFechaAlta as date,\n\t\tFechaBaja as date,\n\t\tFechaActualizacion as date\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\trowUrlColumn: 'Establecimiento_FicheroCarga') ~> CSVEstablecimientos"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_ASQL_STG_Establecimientos",
								"type": "DatasetReference"
							},
							"name": "STGEstablecimientos",
							"script": "FechaCarga sink(input(\n\t\tEstablecimiento_Id as integer,\n\t\tEstablecimiento_Nombre as string,\n\t\tEstablecimiento_Propietario_Id as integer,\n\t\tEstablecimiento_PropietarioCodigo as string,\n\t\tEstablecimiento_Propietario_Nombre as string,\n\t\tEstablecimiento_Agrupacion_Id as integer,\n\t\tEstablecimiento_Agrupacion_Nombre as string,\n\t\tEstablecimiento_TipoID as integer,\n\t\tEstablecimiento_TipoNombre as string,\n\t\tEstablecimiento_Direccion as string,\n\t\tEstablecimiento_Poblacion as string,\n\t\tEstablecmiento_Provincia_Id as integer,\n\t\tEstablecimiento_Provincia_Nombre as string,\n\t\tEstablecimiento_ComunidadAutonoma_Nombre as string,\n\t\tEstablecimiento_ZonaGeografica_Nombre as string,\n\t\tEstablecimiento_CP as string,\n\t\tEstablecimiento_Longitud as decimal(38,12),\n\t\tEstablecimiento_Latitud as decimal(38,12),\n\t\tEstablecimiento_ConectadoSistemaLogistico as string,\n\t\tEstablecimiento_FechaAlta as date,\n\t\tEstablecimiento_FechaBaja as date,\n\t\tEstablecimiento_FechaActualizacion as date,\n\t\tEstablecimiento_FechaCarga as timestamp,\n\t\tEstablecimiento_UsuarioCarga as string,\n\t\tEstablecimiento_FicheroCarga as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: true,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tmapColumn(\n\t\tEstablecimiento_Id = EstablecimientoId,\n\t\tEstablecimiento_Nombre = EstablecimientoNombre,\n\t\tEstablecimiento_Propietario_Id = PropiedatioId,\n\t\tEstablecimiento_PropietarioCodigo = PropietarioCodigo,\n\t\tEstablecimiento_Propietario_Nombre = PropietarioNombre,\n\t\tEstablecimiento_Agrupacion_Id = AgrupacionId,\n\t\tEstablecimiento_Agrupacion_Nombre = AgrupacionNombre,\n\t\tEstablecimiento_TipoID = TipoId,\n\t\tEstablecimiento_TipoNombre = TipoNombre,\n\t\tEstablecimiento_Direccion = Direccion,\n\t\tEstablecimiento_Poblacion = Poblacion,\n\t\tEstablecmiento_Provincia_Id = ProvinciaId,\n\t\tEstablecimiento_Provincia_Nombre = ProvinciaNombre,\n\t\tEstablecimiento_ComunidadAutonoma_Nombre = ComunidadAutonomaNombre,\n\t\tEstablecimiento_ZonaGeografica_Nombre = ZonaGeograficaNombre,\n\t\tEstablecimiento_CP = CP,\n\t\tEstablecimiento_Longitud = Logitud,\n\t\tEstablecimiento_Latitud = Latitud,\n\t\tEstablecimiento_ConectadoSistemaLogistico = ConectadoSL,\n\t\tEstablecimiento_FechaAlta = FechaAlta,\n\t\tEstablecimiento_FechaBaja = FechaBaja,\n\t\tEstablecimiento_FechaActualizacion = FechaActualizacion,\n\t\tEstablecimiento_FechaCarga,\n\t\tEstablecimiento_FicheroCarga\n\t),\n\ttruncate:true) ~> STGEstablecimientos"
						}
					],
					"transformations": [
						{
							"name": "FechaCarga",
							"script": "Filter1 derive(Establecimiento_FechaCarga = currentUTC()) ~> FechaCarga"
						},
						{
							"name": "Filter1",
							"script": "CSVEstablecimientos filter(not(isNull(EstablecimientoId))) ~> Filter1"
						}
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_CSV_EST')]",
				"[concat(variables('factoryId'), '/datasets/DS_ASQL_STG_Establecimientos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TR_EstCapacidades')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_EstCapacidades",
							"type": "PipelineReference"
						},
						"parameters": {
							"nombreFichero": "[parameters('TR_EstCapacidades_properties_PL_EstCapacidades_parameters_nombreFichero')]",
							"nombreDirectorio": "[parameters('TR_EstCapacidades_properties_PL_EstCapacidades_parameters_nombreDirectorio')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/input/blobs/CAP_",
					"blobPathEndsWith": ".csv",
					"scope": "[parameters('TR_EstCapacidades_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_EstCapacidades')]"
			]
		}
	]
}