coresfactory/PartialArmTemplates/ArmTemplate_6_13_2019_10_30_53.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "coresfactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_EstCapacidades')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DF_STG_EstCapacidades",
						"type": "ExecuteDataFlow",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_STG_EstCapacidades",
								"type": "DataFlowReference"
							}
						}
					},
					{
						"name": "MensajeError",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "DF_STG_EstCapacidades",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"typeProperties": {
							"variableName": "ErrorMessage",
							"value": {
								"value": "@activity('DF_STG_EstCapacidades').Error.Message",
								"type": "Expression"
							}
						}
					}
				],
				"concurrency": 1,
				"parameters": {
					"nombreFichero": {
						"type": "string"
					},
					"nombreDirectorio": {
						"type": "string"
					}
				},
				"variables": {
					"ErrorMessage": {
						"type": "String"
					},
					"ErrorCode": {
						"type": "String"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_STG_EstCapacidades')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TR_EstCapacidades')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_EstCapacidades",
							"type": "PipelineReference"
						},
						"parameters": {
							"nombreFichero": "@triggerBody().fileName",
							"nombreDirectorio": "@triggerBody().folderPath"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/input/blobs/",
					"scope": "/subscriptions/5a872d64-36b9-4adf-b9c4-e6ba85cf4457/resourceGroups/CORES_Training/providers/Microsoft.Storage/storageAccounts/coresca",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_EstCapacidades')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_STG_EstCapacidades')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_CSV_CAP",
								"type": "DatasetReference"
							},
							"name": "CSVEstCapacidades",
							"script": "source(output(\n\t\tEstablecimientoId as integer,\n\t\tEstablecimientoNombre as string,\n\t\tGrupoProductoId as integer,\n\t\tGrupoProductoNombre as string,\n\t\tCapacidad as integer,\n\t\tFechaInicio as string,\n\t\tFechaFin as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tfileList: true,\n\trowUrlColumn: 'FicheroCarga',\n\twildcardPaths:['/blobs/CAP_20190611_130826.csv']) ~> CSVEstCapacidades"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_ASQL_STG_EstCapacidades",
								"type": "DatasetReference"
							},
							"name": "STGEstCapacidades",
							"script": "FechaCarga sink(input(\n\t\tEstablecimiento_Id as integer,\n\t\tEstablecimiento_Nombre as string,\n\t\tGrupoProducto_Id as integer,\n\t\tGrupoProducto_Nombre as string,\n\t\tCapacidad as integer,\n\t\tFechaInicio as date,\n\t\tFechaFin as date,\n\t\tFechaCarga as timestamp,\n\t\tFicheroCarga as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: true,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tmapColumn(\n\t\tEstablecimiento_Id = EstablecimientoId,\n\t\tEstablecimiento_Nombre = EstablecimientoNombre,\n\t\tGrupoProducto_Id = GrupoProductoId,\n\t\tGrupoProducto_Nombre = GrupoProductoNombre,\n\t\tCapacidad,\n\t\tFechaInicio,\n\t\tFechaFin = FechaCarga@FechaFin,\n\t\tFechaCarga,\n\t\tFicheroCarga\n\t)) ~> STGEstCapacidades"
						}
					],
					"transformations": [
						{
							"name": "FechaCarga",
							"script": "CSVEstCapacidades derive(FechaCarga = currentUTC(),\n\t\tFechaInicio = toDate(FechaInicio, 'yyyyMMdd'),\n\t\tFechaFin = toDate(FechaFin, 'yyyyMMdd')) ~> FechaCarga"
						}
					]
				}
			}
		}
	]
}