coresfactory/PartialArmTemplates/ArmTemplate_6_14_2019_12_58_19.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "coresfactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_EstCapacidades')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DF_STG_EstCapacidades",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "CD_CAP_Control_Fichero",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_STG_EstCapacidades",
								"type": "DataFlowReference"
							}
						},
						"parameters": {
							"name": "fileName",
							"type": "String"
						}
					},
					{
						"name": "CD_CAP_Control_Fichero",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CD_CopiaHistorico",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT REPLACE('@{pipeline().parameters.nombreDirectorio}', '/entrada', '') + ficheroCarga AS Prop_0 FROM dbo.CTL_Ejecuciones where IdEjecucion_Pipeline = '@{pipeline().RunId}'",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"type": "String",
											"ordinal": 1
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ASQL_CTL_Ejecuciones",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_CSV_CAP_Control",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "SP_Insert_CTL_Ejecuciones",
						"type": "SqlServerStoredProcedure",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Insert_CTL_Ejecuciones]",
							"storedProcedureParameters": {
								"FechaInicio": {
									"value": {
										"value": "@substring(pipeline().TriggerTime,0,19)",
										"type": "Expression"
									},
									"type": "String"
								},
								"FicheroCarga": {
									"value": {
										"value": "@pipeline().parameters.nombreFichero",
										"type": "Expression"
									},
									"type": "String"
								},
								"IdEjecucion_Pipeline": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"IdEjecucion_Trigger": {
									"value": {
										"value": "@pipeline().TriggerId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Nombre_DataFactory": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"Nombre_Pipeline": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"Nombre_Trigger": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"Tipo_Trigger": {
									"value": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"type": "String"
								},
								"Estado": {
									"value": "'EN EJECUCION'",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CD_CopiaHistorico",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SP_Insert_CTL_Ejecuciones",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": false
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "DS_BLOB_ENTRADA",
								"type": "DatasetReference",
								"parameters": {
									"nombreFichero": {
										"value": "@pipeline().parameters.nombreFichero",
										"type": "Expression"
									},
									"nombreDirectorio": {
										"value": "@pipeline().parameters.nombreDirectorio",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_BLOB_HISTORICO",
								"type": "DatasetReference",
								"parameters": {
									"nombreFichero": {
										"value": "@pipeline().parameters.nombreFichero",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "SP_Insert_CTL_Errores_STG",
						"description": "Inserta una fila rellenando varios campos",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "DF_STG_EstCapacidades",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Insert_CTL_Errores]",
							"storedProcedureParameters": {
								"FechaCarga": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "String"
								},
								"FicheroCarga": {
									"value": {
										"value": "@pipeline().parameters.nombreFichero",
										"type": "Expression"
									},
									"type": "String"
								},
								"IdEjecucion_Activity": {
									"value": {
										"value": "@activity('DF_STG_EstCapacidades').ActivityRunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"IdEjecucion_Pipeline": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"MensajeError_Activity": {
									"value": {
										"value": "@activity('DF_STG_EstCapacidades').Error.Message",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_Update_CTL_Ejecuciones",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "DL_BorraEntrada",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Update_CTL_Ejecuciones]",
							"storedProcedureParameters": {
								"Estado": {
									"value": {
										"value": "@if(equals(activity('DF_STG_EstCapacidades').Status, 'Failed'), 'ERROR', if(equals(activity('DF_FT_EstCapacidades').Status, 'Failed'), 'ERROR', 'OK'))",
										"type": "Expression"
									},
									"type": "String"
								},
								"FechaFin": {
									"value": {
										"value": "@substring(utcnow(),0,19)",
										"type": "Expression"
									},
									"type": "String"
								},
								"IdEjecucion_Pipeline": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DL_BorraEntrada",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "DF_FT_EstCapacidades",
								"dependencyConditions": [
									"Completed",
									"Skipped"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_BLOB_ENTRADA",
								"type": "DatasetReference",
								"parameters": {
									"nombreFichero": {
										"value": "@pipeline().parameters.nombreFichero",
										"type": "Expression"
									},
									"nombreDirectorio": {
										"value": "@pipeline().parameters.nombreDirectorio",
										"type": "Expression"
									}
								}
							},
							"enableLogging": false
						}
					},
					{
						"name": "DF_FT_EstCapacidades",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DF_STG_EstCapacidades",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_FT_EstCapacidades",
								"type": "DataFlowReference"
							}
						}
					},
					{
						"name": "SP_Insert_CTL_Errores_FT",
						"description": "Inserta una fila rellenando varios campos",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "DF_FT_EstCapacidades",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Insert_CTL_Errores]",
							"storedProcedureParameters": {
								"FechaCarga": {
									"value": {
										"value": "@substring(utcnow(),0,19)",
										"type": "Expression"
									},
									"type": "String"
								},
								"FicheroCarga": {
									"value": {
										"value": "@pipeline().parameters.nombreFichero",
										"type": "Expression"
									},
									"type": "String"
								},
								"IdEjecucion_Activity": {
									"value": {
										"value": "@activity('DF_FT_EstCapacidades').ActivityRunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"IdEjecucion_Pipeline": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"MensajeError_Activity": {
									"value": {
										"value": "@replace(activity('DF_FT_EstCapacidades').Error.Message, '''', '')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"concurrency": 1,
				"parameters": {
					"nombreFichero": {
						"type": "string"
					},
					"nombreDirectorio": {
						"type": "string"
					}
				},
				"variables": {
					"MensajeError": {
						"type": "String"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_STG_EstCapacidades')]",
				"[concat(variables('factoryId'), '/datasets/DS_ASQL_CTL_Ejecuciones')]",
				"[concat(variables('factoryId'), '/datasets/DS_CSV_CAP_Control')]",
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_ENTRADA')]",
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_HISTORICO')]",
				"[concat(variables('factoryId'), '/dataflows/DF_FT_EstCapacidades')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ASQL_CTL_Ejecuciones')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "IdEjecucion",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Nombre_DataFactory",
						"type": "nvarchar"
					},
					{
						"name": "IdEjecucion_Trigger",
						"type": "nvarchar"
					},
					{
						"name": "Nombre_Trigger",
						"type": "nvarchar"
					},
					{
						"name": "Tipo_Trigger",
						"type": "nvarchar"
					},
					{
						"name": "IdEjecucion_Pipeline",
						"type": "nvarchar"
					},
					{
						"name": "Nombre_Pipeline",
						"type": "nvarchar"
					},
					{
						"name": "FicheroCarga",
						"type": "nvarchar"
					},
					{
						"name": "FechaInicio",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "FechaFin",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Estado",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[CTL_Ejecuciones]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ASQL_FT_EstCapacidades')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Establecimiento_Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Establecimiento_Nombre",
						"type": "nvarchar"
					},
					{
						"name": "GrupoProducto_Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "GrupoProducto_Nombre",
						"type": "nvarchar"
					},
					{
						"name": "Capacidad",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FechaInicio",
						"type": "date"
					},
					{
						"name": "FechaFin",
						"type": "date"
					},
					{
						"name": "FechaCarga",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "FicheroCarga",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[FT_EstCapacidades]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_BLOB_ENTRADA')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"nombreFichero": {
						"type": "string"
					},
					"nombreDirectorio": {
						"type": "string"
					}
				},
				"type": "AzureBlob",
				"typeProperties": {
					"fileName": {
						"value": "@dataset().nombreFichero",
						"type": "Expression"
					},
					"folderPath": {
						"value": "@dataset().nombreDirectorio",
						"type": "Expression"
					}
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_BLOB_HISTORICO')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"nombreFichero": {
						"type": "string"
					}
				},
				"type": "AzureBlob",
				"typeProperties": {
					"fileName": {
						"value": "@dataset().nombreFichero",
						"type": "Expression"
					},
					"folderPath": "historico"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSV_CAP')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "entrada"
					},
					"columnDelimiter": "\t",
					"encodingName": "UTF-16",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "﻿EstablecimientoId",
						"type": "String"
					},
					{
						"name": "EstablecimientoNombre",
						"type": "String"
					},
					{
						"name": "GrupoProductoId",
						"type": "String"
					},
					{
						"name": "GrupoProductoNombre",
						"type": "String"
					},
					{
						"name": "Capacidad",
						"type": "String"
					},
					{
						"name": "FechaInicio",
						"type": "String"
					},
					{
						"name": "FechaFin",
						"type": "String"
					}
				]
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSV_CAP_Control')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "CAP_Fichero_Procesado.txt",
						"folderPath": "control",
						"container": "entrada"
					},
					"columnDelimiter": ",",
					"encodingName": "UTF-8",
					"escapeChar": "\\",
					"quoteChar": ""
				},
				"schema": [
					{
						"name": "Prop_0",
						"type": "String"
					}
				]
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/TR_CAP')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_EstCapacidades",
							"type": "PipelineReference"
						},
						"parameters": {
							"nombreFichero": "@triggerBody().fileName",
							"nombreDirectorio": "@triggerBody().folderPath"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/entrada/blobs/CAP/",
					"scope": "/subscriptions/5a872d64-36b9-4adf-b9c4-e6ba85cf4457/resourceGroups/CORES_Training/providers/Microsoft.Storage/storageAccounts/coresca",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_EstCapacidades')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_FT_EstCapacidades')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_ASQL_STG_EstCapacidades",
								"type": "DatasetReference"
							},
							"name": "STGEstCapacidades",
							"script": "source(output(\n\t\tEstablecimiento_Id as integer,\n\t\tEstablecimiento_Nombre as string,\n\t\tGrupoProducto_Id as integer,\n\t\tGrupoProducto_Nombre as string,\n\t\tCapacidad as integer,\n\t\tFechaInicio as date,\n\t\tFechaFin as date,\n\t\tFechaCarga as timestamp,\n\t\tFicheroCarga as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table') ~> STGEstCapacidades"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_ASQL_FT_EstCapacidades",
								"type": "DatasetReference"
							},
							"name": "FTEstCapacidades",
							"script": "STGEstCapacidades sink(input(\n\t\tEstablecimiento_Id as integer,\n\t\tEstablecimiento_Nombre as string,\n\t\tGrupoProducto_Id as integer,\n\t\tGrupoProducto_Nombre as string,\n\t\tCapacidad as integer,\n\t\tFechaInicio as date,\n\t\tFechaFin as date,\n\t\tFechaCarga as timestamp,\n\t\tFicheroCarga as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: true,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false) ~> FTEstCapacidades"
						}
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ASQL_FT_EstCapacidades')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_STG_EstCapacidades')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_CSV_CAP",
								"type": "DatasetReference"
							},
							"name": "CSVEstCapacidades",
							"script": "source(output(\n\t\tEstablecimientoId as integer,\n\t\tEstablecimientoNombre as string,\n\t\tGrupoProductoId as integer,\n\t\tGrupoProductoNombre as string,\n\t\tCapacidad as integer,\n\t\tFechaInicio as string,\n\t\tFechaFin as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tfileList: true,\n\trowUrlColumn: 'FicheroCarga',\n\twildcardPaths:['/control/CAP_Fichero_Procesado.txt']) ~> CSVEstCapacidades"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_ASQL_STG_EstCapacidades",
								"type": "DatasetReference"
							},
							"name": "STGEstCapacidades",
							"script": "FechaCarga sink(input(\n\t\tEstablecimiento_Id as integer,\n\t\tEstablecimiento_Nombre as string,\n\t\tGrupoProducto_Id as integer,\n\t\tGrupoProducto_Nombre as string,\n\t\tCapacidad as integer,\n\t\tFechaInicio as date,\n\t\tFechaFin as date,\n\t\tFechaCarga as timestamp,\n\t\tFicheroCarga as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: true,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tmapColumn(\n\t\tEstablecimiento_Id = EstablecimientoId,\n\t\tEstablecimiento_Nombre = EstablecimientoNombre,\n\t\tGrupoProducto_Id = GrupoProductoId,\n\t\tGrupoProducto_Nombre = GrupoProductoNombre,\n\t\tCapacidad,\n\t\tFechaInicio,\n\t\tFechaFin,\n\t\tFechaCarga,\n\t\tFicheroCarga\n\t),\n\ttruncate:true) ~> STGEstCapacidades"
						}
					],
					"transformations": [
						{
							"name": "FechaCarga",
							"script": "CSVEstCapacidades derive(FechaCarga = currentUTC(),\n\t\tFechaInicio = toDate(FechaInicio, 'yyyyMMdd'),\n\t\tFechaFin = toDate(FechaFin, 'yyyyMMdd'),\n\t\tFicheroCarga = split(FicheroCarga, '/')[4]) ~> FechaCarga"
						}
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_CSV_CAP')]"
			]
		}
	]
}