pipeline/PL_EstCapacidades.json
{
	"name": "PL_EstCapacidades",
	"properties": {
		"activities": [
			{
				"name": "DF_STG_EstCapacidades",
				"type": "ExecuteDataFlow",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_STG_EstCapacidades",
						"type": "DataFlowReference"
					}
				}
			},
			{
				"name": "MensajeError",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DF_STG_EstCapacidades",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"typeProperties": {
					"variableName": "ErrorMessage",
					"value": {
						"value": "@activity('DF_STG_EstCapacidades').Error.Message",
						"type": "Expression"
					}
				}
			}
		],
		"concurrency": 1,
		"parameters": {
			"nombreFichero": {
				"type": "string"
			},
			"nombreDirectorio": {
				"type": "string"
			}
		},
		"variables": {
			"ErrorMessage": {
				"type": "String"
			},
			"ErrorCode": {
				"type": "String"
			}
		}
	}
}