pipeline/PL_EstCapacidades.json
{
	"name": "PL_EstCapacidades",
	"properties": {
		"activities": [
			{
				"name": "DF_STG_EstCapacidades",
				"type": "ExecuteDataFlow",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_STG_EstCapacidades",
						"type": "DataFlowReference"
					}
				}
			},
			{
				"name": "MensajeError",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DF_STG_EstCapacidades",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"typeProperties": {
					"variableName": "ErrorMessage",
					"value": {
						"value": "@activity('DF_STG_EstCapacidades').Error.Message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "DF_FT_EstCapacidades",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "DF_STG_EstCapacidades",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_FT_EstCapacidades",
						"type": "DataFlowReference"
					}
				}
			},
			{
				"name": "SP_CTL_Errores",
				"description": "Inserta una fila rellenando varios campos",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "MensajeError",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				}
			},
			{
				"name": "DF_Check_EstCapacidades",
				"description": "Busca el error en el origen y lo escribe ",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "SP_CTL_Errores",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_CTL_Errores",
						"type": "DataFlowReference"
					}
				}
			},
			{
				"name": "SP_CTL_Log_Ejecuciones",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "DF_FT_EstCapacidades",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "MensajeError2",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "DF_Check_EstCapacidades",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "MensajeError3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				}
			},
			{
				"name": "MensajeError2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DF_FT_EstCapacidades",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"typeProperties": {
					"variableName": "ErrorMessage",
					"value": {
						"value": "@activity('DF_FT_EstCapacidades').Error.Message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "MensajeError3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DF_Check_EstCapacidades",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"typeProperties": {
					"variableName": "ErrorMessage",
					"value": {
						"value": "@activity('SP_CTL_Log_Errores').output.Error.Message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy Data1",
				"type": "Copy",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSetting"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSetting",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"outputs": [
					{
						"referenceName": "DS_CSV_CAP",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SP_Insert_CTL_Ejecuciones",
				"type": "SqlServerStoredProcedure",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				}
			}
		],
		"concurrency": 1,
		"parameters": {
			"nombreFichero": {
				"type": "string"
			},
			"nombreDirectorio": {
				"type": "string"
			}
		},
		"variables": {
			"ErrorMessage": {
				"type": "String"
			},
			"ErrorCode": {
				"type": "String"
			}
		}
	}
}